.purple-button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

.purple-button:hover {
  border-color: #646cff;
}

.no-focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-focus:focus,
.no-focus:active,
.no-focus:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
